@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

.carousel {
  background-image: url('./Pages/Home/bgIMG.jpeg');
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.structure {
  background-image: url('./Pages/Themes/structure.jpeg');
}

.geotech {
  background-image: url('./Pages/Themes/geotech.jpeg');
}

.transportation {
  background-image: url('./Pages/Themes/transportation.jpeg');
}

.water-resource {
  background-image: url('./Pages/Themes/wre.jpeg');
}

.environment {
  background-image: url('./Pages//Themes/environment.jpeg');
}

.geomatics {
  background-image: url('./Pages//Themes/geomatics.jpeg');
}



