@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel {
  background-image: url('./Pages/Home/bgIMG.jpeg');
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.structure {
  background-image: url('./Pages/Themes/structure.jpeg');
}

.geotech {
  background-image: url('./Pages/Themes/geotech.jpeg');
}

.transportation {
  background-image: url('./Pages/Themes/transportation.jpeg');
}

.water-resource {
  background-image: url('./Pages/Themes/wre.jpeg');
}

.environment {
  background-image: url('./Pages//Themes/environment.jpeg');
}

.geomatics {
  background-image: url('./Pages//Themes/geomatics.jpeg');
}



